.wrapper{
    background-color: #99B6B2;
    height: 150vh;
}

.header_title{
    margin-top: 0;
    text-transform: uppercase;
    color:  #2D7234;
    padding-top: 40px;
    text-align: center;
}
.Container_Table{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

td, th{
    border: 1px solid #f2f2fa;
    font-weight: 500;
    padding: 10px;
    width: 110px;
    height: 40px;
    font-size: .8rem;
    text-align: center;
}


.detechborder1{
    text-align: left;
    padding-left: 30px;
    border-right: transparent;
    text-transform: uppercase;
    color: #226C2A;
    font-size: 1.2rem;
}

.detechborder2{
    border-left: transparent;
}
.input_search{
    width: 80%;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    color: #2D7234;
    background-color: #81C2AB;
    text-transform: uppercase;
}


.input_search:hover{
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.input_search:focus{
    outline: none;
    background-color: #fff;
    color: #333;
}

.TableMangage{
    border: 2px solid #ccc;
}

.button_edit{
    outline: none;
    border-radius: 10px;
    border: 2px solid #ececec;
    background-color: #24752b;
    font-size: 0.9rem;
    width: 50px;
    height: 30px;
    margin-right: 10px;
    color: #fff;
}

.button_delete{
    outline: none;
    border-radius: 10px;
    border: 2px solid #ececec;
    background-color: #d81111;
    font-size: 0.9rem;
    width: 50px;
    height: 30px;
    color: #fff;
}

.button_delete:hover{
    background-color: #ff2525;
    cursor: pointer;
}

.button_edit:hover{
    background-color: #2e9236;
    cursor: pointer;
}
