.fomr-login{
    background-color: #99B6B2;
    height: 100vh;
}
.wrapoverlogin{
    text-align: center;
}
.headerlogin{
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    padding-top: 120px;
    color:  #2D7234;
    margin-bottom: 0;
}
.form-login{
    padding: 10px;
    color: #264B33;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.lable_login{
    margin-bottom: -15px;
    font-weight: 500;
    margin-right: 10px;
    width: 115px;
    font-size: 1.1rem;
}
.input_login{
    width: 150px;
    height: 30px;
    outline: none;
    border: 1px solid #264B33;
    border-radius: 10px;
    font-size: .9rem;
    text-indent: 10px;
}

.input_login:hover{
    background-color: #c1fac4;
    color: #333;
    cursor: pointer;
}

.input_login:focus{
    background-color: #c1fac4;
    color: #333;
}

.wrapbtn{
    /* display: block; */
    text-align: center;
    margin-bottom: 10px;
}
.btn-submit{
    margin-top: 10px;
    outline: none;
    text-align: center;
    height: 40px;
    width: 100px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #3F8171;
    border: 1px solid #264B33;
    border-radius: 10px;
    cursor: pointer;
    font-size: .6rem;
    color: #fff;
}

.btn-submit:hover{
    background-color: #5cbea6;
}

.red{
    color: #F01313;
}